<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="StarWarsBlazorApp.styles.css" />
    @* <link rel="icon" type="image/png" href="favicon.png" /> *@
    <link rel="icon" type="image/png" href="https://lumiere-a.akamaihd.net/v1/images/sw-the-mandalorian-and-grogu-sw-favicon-512x512_cf5319d3.png?region=0%2C0%2C512%2C512" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
